# Postgres for Airflow
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_PORT=

# AWS 
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=

# Airflow
AIRFLOW_EXECUTOR=
AIRFLOW_SQL_ALCHEMY_CONN=

AIRFLOW_FERNET_KEY=
AIRFLOW_DEFAULT_TIMEZONE=
AIRFLOW_LOAD_EXAMPLES=
AIRFLOW_USER=
AIRFLOW_PASSWORD=

# Airflow SMTP (Gmail)
SMTP_HOST=
SMTP_PORT=
SMTP_STARTTLS=
SMTP_SSL=
SMTP_USER=
SMTP_PASSWORD=
SMTP_MAIL_FROM=
