# Core
numpy>=2.0.0,<2.3.0
scikit-learn==1.6.1
matplotlib==3.9.2
seaborn==0.13.2
tqdm==4.66.1
nltk==3.8.1

# OpenCV
opencv-python>=4.12

# MLflow
mlflow==3.6.0

# PyTorch
torch==2.2.1

# PEFT (Parameter-Efficient Fine-Tuning)
peft==0.4.0

# Hugging Face Transformers (often used with PEFT)
transformers==4.34.0

# Additional utilities
sentencepiece==0.1.99

# TensorFlow
tensorflow==2.20.0
